<div th:include="header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    <div class="content employees">
        <form class="projects__form" action="">
            <div class="form-group">
                <input type="text" placeholder="Введите название проекта">
                <button type="submit" class="btn btn-add">Добавить</button>
            </div>
            <table class="samples__table employees__table">
                <thead>
                    <th>Название проекта</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td>Сотников Владислав Владимирович</td>
                        <td>
                            <button class="btn btn-delete">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Сотников Владислав Владимирович</td>
                        <td>
                            <button class="btn btn-delete">Удалить</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Сотников Владислав Владимирович</td>
                        <td>
                            <button class="btn btn-delete">Удалить</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
<div th:include="footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
