<div th:include="header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div class="content employees">
    <br>
    <form action="#" th:action="@{/manage-providers}" method="post">
        <input type="hidden" name="providerId" value="0">
        <span>
            <input type="text" name="providerName" required>
        </span>
        <span>
            <select name="regionId" required>
                <option disabled selected></option>
                <option th:each="region : ${regions}" th:value="${region.regionUNID}" th:text="${region.regionName}"></option>
            </select>
        </span>
        <span>
            <input type="text" name="contactPerson">
        </span>
        <span>
            <textarea name="contacts" cols="40" rows="4"></textarea>
        </span>
        <span>
            <button type="submit" name="action" value="add" class="btn employees__btn-add">Добавить</button>
        </span>
    </form>
    <form action="#" th:action="@{/manage-providers}" th:each="provider : ${providers}" method="post">
        <input type="hidden" name="providerId" th:value="${provider.id}">
        <br>
        <span>
            <input type="text" name="providerName" required th:value="${provider.providerName}">
        </span>
        <span>
            <select name="regionId">
                <option disabled selected></option>
                <option th:each="region : ${regions}" th:value="${region.regionUNID}" th:text="${region.regionName}"></option>
            </select>
        </span>
        <span>
            <input type="text" name="contactPerson" th:value="${provider.contactPerson}">
        </span>
        <span>
            <textarea name="contacts" cols="40" rows="4" th:text="${provider.contacts}"></textarea>
        </span>
        <span>
            <button type="submit" name="action" value="update" class="btn employees__btn-update">Обновить</button>
        </span>
        <span>
            <button type="submit" name="action" value="delete" class="btn employees__btn-delete">Удалить</button>
        </span>
    </form>
</div>
<div th:include="footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>