<div th:include="header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<div class="content admin providers">
    <form action="#" th:action="@{/manage-providers}" method="post">
        <input type="hidden" name="providerId" value="0">
        <input type="text" name="providerName" placeholder="Название поставщика" required>
        <select class="admin__role" name="regionId" required>
            <option disabled selected>Название региона</option>
            <option th:each="region : ${regions}" th:value="${region.regionUNID}" th:text="${region.regionName}"></option>
        </select>
        <input type="text" name="contactPerson" placeholder="Контактное лицо">
        <textarea name="contacts" cols="40" rows="4" placeholder="Контакты"></textarea>
        <button type="submit" name="action" value="add" class="btn btn-add">Добавить</button>
    </form>
    <form action="#" th:action="@{/manage-providers}" th:each="provider : ${providers}" method="post">
        <input type="hidden" name="providerId" th:value="${provider.id}">
        <input type="text" name="providerName" required th:value="${provider.providerName}">
        <select class="admin__role" name="regionId">
            <option disabled selected></option>
            <option th:each="region : ${regions}" th:value="${region.regionUNID}" th:text="${region.regionName}"></option>
        </select>
        <input type="text" name="contactPerson" th:value="${provider.contactPerson}">
        <textarea name="contacts" cols="40" rows="4" th:text="${provider.contacts}"></textarea>
        <button type="submit" name="action" value="update" class="btn btn-update">Обновить</button>
        <button type="submit" name="action" value="delete" class="btn btn-delete">Удалить</button>
    </form>
</div>
<div th:include="footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>