<div th:include="header" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"></div>
    <div class="content admin users">
        <form th:each="user : ${users}" class="admin__form users__form" action="#" th:action="@{/manage-users}" method="post">
            <input type="hidden" name="userId" th:value="${user.id}">
            <span th:text="${user.login}"></span>
            <select class="admin__role" name="roleId">
                <option disabled selected></option>
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
            <button type="submit" value="update" name="action" class="btn btn-update">Обновить</button>
            <button type="submit" value="delete" name="action" class="btn btn-delete">Удалить</button>
        </form>
    </div>
<div th:include="footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>