<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/balloon.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<input type="checkbox" id="side-menu-toggle" class="side-menu-toggle">
<label for="side-menu-toggle" class="side-menu-icon">
    <i class="fa fa-bars"></i>
</label>
<aside class="side-menu">
    <a href="/" class="logo logo-menu"></a>
    <div class="side-menu__season">
        Текущий сезон: <span th:text="${season}"></span>
    </div>
    <ul class="side-menu__pages-list">
        <li class="active" onclick="location.href='/main'">
                <span class="side-menu__icon-container">
                    <i class="fas fa-newspaper"></i>
                </span>
            Новости
        </li>
        <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN', 'ROLE_MODERATOR', 'ROLE_MANAGE_USERS_TEST', 'ROLE_MANAGE_USERS_NOTEST', 'ROLE_MANAGE_USERS_ALL')" onclick="location.href='/manage-users'">
                <span class="side-menu__icon-container">
                    <i class="fas fa-users"></i>
                </span>
            Пользователи
        </li>
        <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN', 'ROLE_MODERATOR', 'ROLE_MANAGE_PROVIDERS_TEST', 'ROLE_MANAGE_PROVIDERS_NOTEST', 'ROLE_MANAGE_PROVIDERS_ALL', 'ROLE_MANAGE_PROVIDERS_SELF')" onclick="location.href='/manage-providers'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-truck"></i>
                </span>
            Поставщики
        </li>
        <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN', 'ROLE_MODERATOR', 'ROLE_MANAGE_PROJECTS_SELF', 'ROLE_MANAGE_PROJECTS_TEST', 'ROLE_MANAGE_PROJECTS_NOTEST', 'ROLE_MANAGE_PROJECTS_ALL')" onclick="location.href='/manage-projects'">
                <span class="side-menu__icon-container">
                    <!--<i class="fas fa-user-secret"></i>-->
                    <i class="fa fa-list-alt"></i>
                </span>
            Проекты
        </li>
        <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN', 'ROLE_MODERATOR', 'ROLE_MANAGE_REAGENTS_SELF', 'ROLE_MANAGE_REAGENTS_TEST', 'ROLE_MANAGE_REAGENTS_NOTEST', 'ROLE_MANAGE_REAGENTS_ALL')" onclick="location.href='/manage-projects'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-flask"></i>
                </span>
            Реагенты
        </li>
        <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN', 'ROLE_USER', 'ROLE_ADD_ALL', 'ROLE_ADD_SAMPLE')" onclick="location.href='/add-sample'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-plus"></i>
                </span>
            Регистрация образца
        </li>
        <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN', 'ROLE_USER', 'ROLE_ADD_ALL', 'ROLE_ADD_EXTRACTION')" onclick="location.href='/add-extraction'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-indent"></i>
                </span>
            Экстракция
        </li>
        <li sec:authorize="hasAnyRole('ROLE_SUPERADMIN', 'ROLE_ADMIN', 'ROLE_USER', 'ROLE_ADD_ALL', 'ROLE_ADD_PCR')" onclick="location.href='/add-pcr'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-spinner"></i>
                </span>
            ПЦР
        </li>
        <li onclick="location.href='/samples'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-info"></i>
                </span>
            Информация об образцах
        </li>
        <li onclick="location.href='/logout'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-sign-out-alt"></i>
                </span>
            Выход
        </li>
    </ul>
</aside>
<header class="header">
    <h3 class="header__title">Новости</h3>
    <div class="header__panel">
        <div class="header__user-info">
            <img class="header__avatar" src="images/ivanov.jpg">
            <span sec:authentication="name" class="header__name"></span> | <span sec:authentication="principal.authorities"></span>
        </div>
        <div class="header__notify">
                <span class="header__notify-wrapper" @click="show = !show">
                    <span class="header__notify-icon">
                        <i class="far fa-bell"></i>
                    </span>
                    <span class="header__notify-quantity" v-if="alertCount > 0">{{ alertCount }}</span>
                </span>
            <transition name="fade">
                <div class="header__notify-content" v-if="show">
                    <div class="header__alert">
                        <p class="header__alert-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, accusantium.</p>
                        <span class="header__alert-close" @click="alertClose">
                                <i class="fa fa-times"></i>
                            </span>
                    </div>
                    <div class="header__alert" @click="alertClose">
                        <p class="header__alert-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, accusantium.</p>
                        <span class="header__alert-close">
                                <i class="fa fa-times"></i>
                            </span>
                    </div>
                    <div class="header__alert" @click="alertClose">
                        <p class="header__alert-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, accusantium.</p>
                        <span class="header__alert-close">
                                <i class="fa fa-times"></i>
                            </span>
                    </div>
                </div>
            </transition>
        </div>
        <div class="header__search">
            <form class="header__search-form">
                <input type="text" class="header__search-input" placeholder="Поиск..." v-on:click="activeSearch = !activeSearch">
                <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
            </form>
            <div class="header__search-content" v-if="activeSearch">
                <div class="header__search-elem">
                    <p>Образец №1</p>
                </div>
                <div class="header__search-elem">
                    <p>Образец №2</p>
                </div>
                <div class="header__search-elem">
                    <p>Образец №3</p>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="content add-extraction" th:if="${samples != null}">
        <form action="">
            <div class="add-extraction__left-block">
                <div class="accordion" th:each="sample : ${samples}">
                    <input type="checkbox" class="accordion-control" th:id="${sample.getId()}" th:value="${sample.getId()}" name="samples[]">
                    <label th:for="${sample.getId()}" th:text="'Образец №' + ${sample.getLabNum()}"></label>
                    <div class="accordion-desc">
                        <p th:text="${sample.getNotes()}"></p>
                    </div>
                </div>
            </div>
            <div class="add-extraction__right-block">
                <div class="add-extraction__filter">
                    <p class="add-extraction__filter-title">Фильтр образцов</p>
                    <div class="add-extraction__filter-content">
                        <button type="button" class="btn add-extraction__filter-option">№ образца</button>
                        <button type="button" class="btn add-extraction__filter-option">Поставщик</button>
                        <button type="button" class="btn add-extraction__filter-option">Проект</button>
                        <button type="button" class="btn add-extraction__filter-option">№ набора</button>
                        <button type="button" class="btn add-extraction__filter-option">Дата взятия образца</button>
                        <button type="button" class="btn add-extraction__filter-option">Сезон</button>
                    </div>
                </div>
                <form action="">
                    <div class="add-extraction__form-group required">
                        <label for="protocol-name">Название протокола</label>
                        <input type="text" class="add-sample__protocol-name" id="protocol-name" required>
                    </div>
                    <div class="add-extraction__form-group required">
                        <label for="reagent-set">Набор реагентов</label>
                        <input type="text" class="add-sample__reagent-set" id="reagent-set" required>
                    </div>
                    <div class="add-extraction__form-group">
                        <label for="serial-set-num">Серийный номер набора</label>
                        <input type="text" class="add-sample__serial-set-num" id="serial-set-num">
                    </div>
                    <div class="add-extraction__form-group required">
                        <label for="enter-amount">Объем материала на входе</label>
                        <input type="text" class="add-sample__enter-amount" id="enter-amount" required>
                    </div>
                    <div class="add-extraction__form-group required">
                        <label for="exit-amount">Объем материала на выходе</label>
                        <input type="text" class="add-sample__exit-amount" id="exit-amount" required>
                    </div>
                    <!--<div class="add-extraction__form-group">-->
                        <!--<label for="extraction-protocol">Протокол экстракции</label>-->
                        <!--<input type="file" class="add-sample__extraction-protocol" id="extraction-protocol">-->
                    <!--</div>-->
                    <div class="add-extraction__form-group">
                        <label for="pcr-date">Время проведения</label>
                        <input type="text" class="add-sample__pcr-date date" id="pcr-date" required>
                    </div>
                    <button type="submit" class="btn btn-add">
                        <i class="fa fa-plus"></i> Добавить
                    </button>
                </form>
            </div>
        </form>
    </div>
    <div class="loading" v-if="showPreloader">
        <div class="loading__img"></div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
    <script src="js/datepicker.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(function() {
            $('.accordion, .add-extraction__filter .btn').on('click', function(e) {
                if (e.target.id.indexOf('extraction-') != -1)
                    return;

                if (!$(this).hasClass('active')) {
                    $(this).addClass('active');
                } else {
                    $(this).removeClass('active');
                }
            });
        });
    </script>
</body>
</html>
