<div th:include="header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    <div class="content add-extraction" th:if="${extractions != null}">
        <form method="post" enctype="multipart/form-data" action="#" th:action="@{/add-pcr}" th:object="${addPcrForm}" >
            <div class="add-extraction__left-block">
                <div class="accordion" th:each="extraction : ${extractions}">
                    <input type="checkbox" class="accordion-control" th:id="'ext-' + ${extraction.getId()}" th:value="${extraction.getId()}" name="extractions">
                    <label th:for="'ext-' + ${extraction.getId()}" th:text="${extraction.getExtractionName()}"></label>
                    <div class="accordion-desc">
                        <p th:text="${extraction.getExtractionName()}"></p>
                    </div>
                </div>
            </div>
            <div class="add-extraction__right-block">
                <!--<div class="add-extraction__filter">-->
                    <!--<p class="add-extraction__filter-title">Фильтр экстракций</p>-->
                    <!--<div class="add-extraction__filter-content">-->
                        <!--<button type="button" class="btn add-extraction__filter-option">№ образца</button>-->
                        <!--<button type="button" class="btn add-extraction__filter-option">Поставщик</button>-->
                        <!--<button type="button" class="btn add-extraction__filter-option">Проект</button>-->
                        <!--<button type="button" class="btn add-extraction__filter-option">№ набора</button>-->
                        <!--<button type="button" class="btn add-extraction__filter-option">Дата взятия образца</button>-->
                        <!--<button type="button" class="btn add-extraction__filter-option">Сезон</button>-->
                    <!--</div>-->
                <!--</div>-->
                    <div class="add-extraction__form-group required">
                        <label for="protocol-name">Название протокола</label>
                        <input type="text" class="add-sample__protocol-name" id="protocol-name" name="pcrName" th:value="*{pcrName}" required>
                    </div>
                    <div class="add-extraction__form-group required">
                        <label for="reagent-set">Набор реагентов</label>
                        <select class="add-sample__reagent-set" id="reagent-set" name="reagentId" th:value="*{reagentId}" required>
                            <option selected disabled></option>
                            <option th:each="reagent : ${reagents}" th:value="${reagent.getId()}" th:text="${reagent.getReagentTypeEntity().getReagentName()} + '#' +  ${reagent.getKitLot()}"></option>
                        </select>
                    </div>
                    <div class="add-extraction__form-group">
                        <label for="pcr-report">Отчет прибора</label>
                        <input type="file" class="add-sample__pcr-report" id="pcr-report" name="pcrReport" th:value="*{pcrReport}">
                    </div>
                    <div class="add-extraction__form-group">
                        <label for="pcr-protocol">Протокол ПЦР</label>
                        <input type="file" class="add-sample__pcr-protocol" id="pcr-protocol" name="pcrProtocol" th:value="*{pcrProtocol}">
                    </div>
                    <div class="add-extraction__form-group">
                        <label for="pcr-date">Дата постановки ПЦР</label>
                        <input type="text" class="add-sample__pcr-date date" id="pcr-date" name="pcrDate" th:value="*{pcrDate}" required>
                    </div>
                    <button type="submit" class="btn btn-add">
                        <i class="fa fa-plus"></i> Добавить
                    </button>
            </div>
        </form>
    </div>
<div th:include="footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
