<div th:include="header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    <div class="content add-sample">
        <form action="#" th:action="@{/add-sample}" th:object="${addSampleForm}" method="post">
            <div class="add-sample__block-wrapper">
                <div class="add-sample__left-block">
                    <div class="add-sample__form-group">
                        <label for="full-name">ФИО пациента</label>
                        <input type="text" class="add-sample__full-name" id="full-name" name="patientName" th:value="*{patientName}">
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="region">Населенный пункт</label>
                        <select class="add-sample__city" id="region" name="regionUNID" th:value="*{regionUNID}" required>
                            <option selected disabled></option>
                            <option th:each="region : ${regions}" th:value="${region.getRegionUNID()}" th:text="${region.getRegionName()}"></option>
                        </select>
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="age">Полных лет</label>
                        <input type="number" min="0" max="150" class="add-sample__age" id="age" name="patientAge" th:value="*{patientAge}" required>
                    </div>
                    <div class="add-sample__form-group">
                        <label for="months">Месяцев</label>
                        <input type="number" min="0" max="11" class="add-sample__age" id="months" name="patientMonths" th:value="*{patientMonths}">
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="dob">Дата рождения</label>
                        <input type="text" class="add-sample__date-dob date" id="dob" name="patientDOB" th:value="*{patientDOB}" required>
                    </div>
                    <div class="add-sample__form-group">
                        <label for="gender">Пол пациента</label>
                        <select class="add-sample__male" id="gender" name="patientGender" th:value="*{patientGender}">
                            <option value="X" selected>Неизвестно</option>
                            <option value="M">Мужской</option>
                            <option value="F">Женский</option>
                        </select>
                    </div>
                    <div class="add-sample__form-group">
                        <label for="is-vaccinated">Вакцинирован</label>
                        <select class="add-sample__is-vaccinated" id="is-vaccinated" name="isVaccinated" th:value="*{isVaccinated}">
                            <option value="X" selected>Неизвестно</option>
                            <option value="Y">Да</option>
                            <option value="N">Нет</option>
                        </select>
                    </div>
                    <div class="add-sample__form-group">
                        <label for="disease-history">История болезни</label>
                        <input type="text" class="add-sample__disease-history" id="disease-history" name="caseHistory" th:value="*{caseHistory}">
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="date-disease">Дата заболевания</label>
                        <input type="text" class="add-sample__date-disease date" id="date-disease" name="dateDisease" th:value="*{dateDisease}" required>
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="date-sampling">Дата взятия образца</label>
                        <input type="text" class="add-sample__date-sampling date" id="date-sampling" name="dateCollection" th:value="*{dateCollection}" required>
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="date-receipt">Дата поступления</label>
                        <input type="text" class="add-sample__date-receipt date" id="date-receipt" name="dateReceipt" th:value="*{dateReceipt}" required>
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="sample-type">Тип образца</label>
                        <select class="add-sample__sample-type" id="sample-type" v-model="selected" name="sampleType" th:value="*{sampleType}" required>
                            <option selected disabled></option>
                            <option value="1">Мазок из носоглотки</option>
                            <option value="2">Мазок из ротоглотки</option>
                            <option value="3">Носовой смыв</option>
                            <option value="4">Бронхоальвеолярный лаваж</option>
                            <option value="5">Постмортальный материал</option>
                        </select>
                    </div>
                    <div class="add-sample__form-group required" v-if="isPostmortem">
                        <label for="pm-sample-type">Тип постморт. образца</label>
                        <select class="add-sample__pm-sample-type" id="pm-sample-type" name="samplePm" th:value="*{samplePm}" required>
                            <option selected disabled></option>
                            <option value="1">Трахея</option>
                            <option value="2">Бронх</option>
                            <option value="3">Легкое</option>
                            <option value="4">Мозг</option>
                            <option value="5">Печень</option>
                            <option value="6">Кишечник</option>
                            <option value="7">Селезенка</option>
                        </select>
                    </div>
                    <div class="add-sample__form-group">
                        <label for="volumeIn">Количество</label>
                        <input type="number" min="0" class="add-sample__volumeIn" id="volumeIn" name="volumeIn" th:value="*{volumeIn}">
                    </div>
                </div>
                <div class="add-sample__right-block">
                    <div class="add-sample__form-group required">
                        <label for="season">Сезон</label>
                        <input type="text" class="add-sample__season" id="season" th:placeholder="${season}"
                               th:value="${season}" name="season" th:field="*{season}" required>
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="lab-num">Лабораторный номер</label>
                        <input type="text" class="add-sample__lab-num" id="lab-num" name="labNum" th:value="*{labNum}" required>
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="provider">Поставщик образца</label>
                        <select class="add-sample__provider" id="provider" name="providerId" th:value="*{providerId}" required>
                            <option selected disabled></option>
                            <option th:each="provider : ${providers}" th:value="${provider.getId()}" th:text="${provider.getProviderName()}"></option>
                        </select>
                    </div>
                    <div class="add-sample__form-group required">
                        <label for="project">Проект</label>
                        <select class="add-sample__project" id="project" name="projectId" th:value="*{projectId}" required>
                            <option selected disabled></option>
                            <option th:each="project : ${projects}" th:value="${project.getId()}" th:text="${project.getProjectName()}"></option>
                        </select>
                    </div>
                    <div class="add-sample__form-group">
                        <label for="project-num">Номер по проекту</label>
                        <input type="text" class="add-sample__project-num" id="project-num" name="numInProject" th:value="*{numInProject}">
                    </div>
                    <div class="add-sample__form-group">
                        <label for="project-add-num">Дополнительный номер</label>
                        <input type="text" class="add-sample__project-add-num" id="project-add-num" name="externalNum" th:value="*{externalNum}">
                    </div>
                    <div class="add-sample__form-group">
                        <label for="purpose">Назначение образца</label>
                        <input type="text" class="add-sample__purpose" id="purpose" name="sampleFunc" th:value="*{sampleFunc}">
                    </div>
                    <div class="add-sample__form-group">
                        <label for="notes">Особые примечания</label>
                        <textarea id="notes" name="notes" th:value="*{notes}"></textarea>
                    </div>
                    <div class="add-sample__criteria">
                        <p class="add-sample__criteria-title">Критерии принятия образца</p>
                        <div class="add-sample__form-group">
                            <input type="checkbox" class="add-sample__container-is-propered" id="container-is-propered" name="isPropered" th:value="*{isPropered}" required>
                            <label for="container-is-propered">Контейнер надлежащего типа</label>
                        </div>
                        <div class="add-sample__form-group">
                            <input type="checkbox" class="add-sample__container-is-marked" id="container-is-marked" name="isMarked" th:value="*{isMarked}" required>
                            <label for="container-is-marked">Контейнер маркирован</label>
                        </div>
                        <div class="add-sample__form-group">
                            <input type="checkbox" class="add-sample__mark-direction-equals" id="mark-direction-equals" name="markDirectionEquals" th:value="*{markDirectionEquals}" required>
                            <label for="mark-direction-equals">Маркировка на контейнере и направление совпадают</label>
                        </div>
                        <div class="add-sample__form-group">
                            <input type="checkbox" class="add-sample__contamination" id="contamination" name="contamination" th:value="*{contamination}" required>
                            <label for="contamination">Признаков контаминации нет</label>
                        </div>
                        <div class="add-sample__form-group">
                            <input type="checkbox" class="add-sample__enough-quantity" id="enough-quantity" name="isEnough" th:value="*{isEnough}" required>
                            <label for="enough-quantity">Количество образца достаточно для исследования</label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-add">
                <i class="fa fa-plus"></i> Добавить
            </button>
        </form>
    </div>
<div th:include="footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
