<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/balloon.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="logo logo-login"></div>
    <div class="login-socials-wrapper">
        <div class="popup">
            <div class="popup-content">
                <form class="login-form auth-form" @submit="checkForm" method="post" novalidate="true">
                    <div class="login-form__title">
                        Добро пожаловать! <div class="login-form__icon"><i class="far fa-user"></i></div>
                    </div>
                    <div class="login-form__form-group" :class="{ error : hasError }" v-on:input="inputForm">
                        <label for="login">Логин</label>
                        <input type="text" class="login-form__form-control" name="login" v-model="login">
                    </div>
                    <div class="login-form__form-group" :class="{ error : hasError }">
                        <label for="password">Пароль</label>
                        <input type="password" class="login-form__form-control" name="password" v-model="password" v-on:input="inputForm">
                    </div>
                    <div class="error login-form__error-message" v-if="error != null">{{ error }}</div>
                    <button type="submit" class="btn btn-login">Войти</button>
                    <!-- <button type="button" class="btn btn-get-access" data-balloon="Запросите доступ к личному кабинету у администратора" data-balloon-pos="right">
                        Запросить доступ <span class="icon-wrapper"><i class="fas fa-question-circle"></i></span>
                    </button> -->
                    <a class="btn" href="/registration">Регистрация</a>
                </form>
            </div>
        </div>
        <div class="socials">
            <div class="socials__title">Или войдите через социальные сети</div>
            <div class="socials__content">
                <ul class="socials__socials-list">
                    <li v-for="social in socials" class="socials__social-icon" :class="social.className">
                        <i class="fab" :class="'fa-' + social.faClassName"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
    <!--<script src="js/main.js"></script>-->
</body>
</html>
