<div th:include="header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    <div class="content news">
        <div class="news__item">
            <div class="news__action">
                <span class="news__who">Дмитрий Петров</span>
                <span class="news__what">провел экстракцию</span>
                <span class="news__date">10.02.2018</span>
            </div>
            <div class="news__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nemo nihil ducimus dignissimos. Omnis nihil culpa autem voluptates ullam commodi accusantium tenetur temporibus ex iste quo, delectus corporis sunt quibusdam facilis, pariatur repellat nesciunt neque molestiae amet officiis reprehenderit odio vitae sint. Vero blanditiis, veritatis ducimus libero recusandae totam? Illum?
            </div>
            <a href="#"><button class="btn news__btn-more">Подробнее</button></a>
        </div>
        <div class="news__item">
            <div class="news__action">
                <span class="news__who">Юлия Жаворонкова</span>
                <span class="news__what">провела ПЦР</span>
                <span class="news__date">10.02.2018</span>
            </div>
            <div class="news__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis numquam quae aperiam suscipit natus fugit, inventore, dolor eaque vitae? In harum eligendi cupiditate eveniet quisquam, ipsa quae, dolorem dolorum tenetur quod vitae. Nam repellat omnis quaerat nobis ab dolorum, a quam. Explicabo rerum, optio maiores porro obcaecati voluptates nulla. Nulla voluptas, quia, aspernatur officiis nobis ex tempora molestias unde saepe pariatur assumenda, dolor fuga eos velit corporis. Laudantium dolorum, reiciendis odit numquam vero quae! Nostrum inventore reprehenderit non commodi sapiente quo fugit dolor, accusantium tenetur animi natus rem quia vero! Ut ratione perspiciatis delectus consectetur atque, fuga accusamus saepe ab.
            </div>
            <a href="#"><button class="btn news__btn-more">Подробнее</button></a>
        </div>
        <div class="news__item">
            <div class="news__action">
                <span class="news__who">Иван Тишков</span>
                <span class="news__what">добавил образец</span>
                <span class="news__date">09.02.2018</span>
            </div>
            <div class="news__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nemo nihil ducimus dignissimos. Omnis nihil culpa autem voluptates ullam commodi accusantium tenetur temporibus ex iste quo, delectus corporis sunt quibusdam facilis, pariatur repellat nesciunt neque molestiae amet officiis reprehenderit odio vitae sint. Vero blanditiis, veritatis ducimus libero recusandae totam? Illum?
            </div>
            <a href="#"><button class="btn news__btn-more">Подробнее</button></a>
        </div>
        <div class="news__item">
            <div class="news__action">
                <span class="news__who-what-wrapper">
                    <span class="news__who">Кирилл Столяров</span>
                    <span class="news__what">провел экстракцию</span>
                </span>
                <span class="news__date">07.02.2018</span>
            </div>
            <div class="news__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nemo nihil ducimus dignissimos. Omnis nihil culpa autem voluptates ullam commodi accusantium tenetur temporibus ex iste quo, delectus corporis sunt quibusdam facilis, pariatur repellat nesciunt neque molestiae amet officiis reprehenderit odio vitae sint. Vero blanditiis, veritatis ducimus libero recusandae totam? Illum?
            </div>
            <a href="#"><button class="btn news__btn-more">Подробнее</button></a>
        </div>
        <div class="news__item">
            <div class="news__action">
                <span class="news__who">Дмитрий Петров</span>
                <span class="news__what">отредактировал образец</span>
                <span class="news__date">03.02.2018</span>
            </div>
            <div class="news__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates nemo nihil ducimus dignissimos. Omnis nihil culpa autem voluptates ullam commodi accusantium tenetur temporibus ex iste quo, delectus corporis sunt quibusdam facilis, pariatur repellat nesciunt neque molestiae amet officiis reprehenderit odio vitae sint. Vero blanditiis, veritatis ducimus libero recusandae totam? Illum?
            </div>
            <a href="#"><button class="btn news__btn-more">Подробнее</button></a>
        </div>
    </div>
<div th:include="footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
