<aside class="side-menu" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <a href="/" class="logo logo-menu"></a>
    <div class="side-menu__season">
        Текущий сезон: <span th:text="${season}"></span>
    </div>
    <ul class="side-menu__pages-list">
        <li sec:authorize="hasAnyRole('ROLE_ADMIN')" class="accordion">
            <span class="side-menu__icon-container">
                <i class="fas fa-newspaper"></i>
            </span>
            Администрирование
            <ul class="accordion__submenu">
                <li><a href="/manage-users">Сотрудники</a></li>
                <li><a href="/manage-projects">Проекты</a></li>
                <li><a href="/manage-providers">Поставщики</a></li>
                <li><a href="/manage-reagents">Реагенты</a></li>
            </ul>
        </li>
        <li onclick="location.href='/main'">
            <span class="side-menu__icon-container">
                <i class="fas fa-newspaper"></i>
            </span>
            Новости
        </li>
        <li onclick="location.href='/add-sample'">
            <span class="side-menu__icon-container">
                <i class="fa fa-plus"></i>
            </span>
            Регистрация образца
        </li>
        <li onclick="location.href='/add-extraction'">
            <span class="side-menu__icon-container">
                <i class="fa fa-indent"></i>
            </span>
            Экстракция
        </li>
        <li onclick="location.href='/add-pcr'">
            <span class="side-menu__icon-container">
                <i class="fa fa-spinner"></i>
            </span>
            ПЦР
        </li>
        <li onclick="location.href='/samples'">
            <span class="side-menu__icon-container">
                <i class="fa fa-info"></i>
            </span>
            Информация об образцах
        </li>
        <li onclick="location.href='/logout'">
            <span class="side-menu__icon-container">
                <i class="fa fa-sign-out-alt"></i>
            </span>
            Выход
        </li>
    </ul>
</aside>