<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/balloon.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="logo logo-login"></div>
    <div class="login-socials-wrapper reg-wrapper">
        <div class="popup">
            <div class="popup-content">
                <form class="login-form reg-form" ref="form" @submit="checkForm" method="POST" action="" novalidate="true">
                    <div class="login-form__title">
                        Заполните данные <div class="login-form__icon"><i class="fas fa-id-card"></i></div>
                    </div>
                    <div class="login-form__form-group" :class="{ error : hasEmailError }">
                        <label for="email">E-mail</label>
                        <input type="email" class="login-form__form-control" name="email" v-model="email" v-on:input="inputForm">
                        <div class="error login-form__error-message" v-if="emailError != null">{{ emailError }}</div>
                    </div>
                    <div class="login-form__form-group" :class="{ error : hasFullNameError }">
                        <label for="full-name">ФИО</label>
                        <input type="text" class="login-form__form-control" name="full-name" v-model="fullName" v-on:input="inputForm">
                        <div class="error login-form__error-message" v-if="fullNameError != null">{{ fullNameError }}</div>
                    </div>
                    <div class="login-form__form-group" :class="{ error : hasLoginError }">
                        <label for="login">Логин</label>
                        <input type="text" class="login-form__form-control" name="login" v-model="login" v-on:input="inputForm">
                        <div class="error login-form__error-message" v-if="loginError != null">{{ loginError }}</div>
                    </div>
                    <div class="login-form__form-group" :class="{ error : hasPasswordError }">
                        <label for="password">Пароль</label>
                        <input type="password" class="login-form__form-control" name="password" v-model="password" v-on:input="inputForm">
                    </div>
                    <!--<div class="login-form__form-group" :class="{ error : hasPasswordError }">-->
                        <!--<label for="repeat-password">Повторите пароль</label>-->
                        <!--<input type="password" class="login-form__form-control" name="repeat-password" v-model="repeatPassword" v-on:input="inputForm">-->
                        <!--<div class="error login-form__error-message" v-if="passwordError != null">{{ passwordError }}</div>-->
                    <!--</div>-->
                    <div class="login-form__form-group">
                        <label for="phone">Номер телефона</label>
                        <!-- <masked-input v-model="phone" mask="\+\1 (111) 1111-11" placeholder="Phone" /> -->
                        <input type="text" class="login-form__form-control" name="phone" v-model="phone" v-on:input="inputForm">
                    </div>
                    <div class="login-form__form-group" :class="{ error : hasPositionError }">
                        <label for="position">Должность</label>
                        <input type="text" class="login-form__form-control" name="position" v-model="position" v-on:input="inputForm">
                        <div class="error login-form__error-message" v-if="positionError != null">{{ positionError }}</div>
                    </div>
                    <button type="submit" class="btn btn-login">Зарегистрироваться</button>
                    <a href="/login" class="btn">Вход</a>
                </form>
            </div>
        </div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="node_modules/vue-masked-input/dist/maskedInput.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
    <!--<script src="js/main.js"></script>-->
</body>
</html>
