<div th:include="header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    <div class="content samples">
        <div class="samples__filter">
            <button class="btn" @click="filter = !filter"><i class="fa fa-filter"></i> Фильтр</button>
        </div>
        <transition name="slide">
            <div class="samples__filter-content" v-show="filter">
                <h3 class="samples__filter-title">Быстрые фильтры</h3>
                <form action="">
                    <div class="samples__filter-date date"></div>
                    <div class="samples__filter-extraction">
                        <p class="samples__filter-extraction-title">Экстракция</p>
                        <div class="samples__filter-extraction-radios">
                            <div class="radio-wrapper">
                                <input type="radio" name="extraction" id="filter-extraction-yes" value="0">
                                <label for="filter-extraction-yes">Проведена</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="extraction" id="filter-extraction-no" value="1">
                                <label for="filter-extraction-no">Не проведена</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="extraction" id="filter-extraction-dm" value="2">
                                <label for="filter-extraction-dm">Не важно</label>
                            </div>
                        </div>
                    </div>
                    <div class="samples__filter-pcr">
                        <p class="samples__filter-pcr-title">ПЦР</p>
                        <div class="samples__filter-extraction-radios">
                            <div class="radio-wrapper">
                                <input type="radio" name="pcr" id="filter-pcr-yes" value="0">
                                <label for="filter-pcr-yes">Проведена</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="pcr" id="filter-pcr-no" value="1">
                                <label for="filter-pcr-no">Не проведена</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="pcr" id="filter-pcr-dm" value="2">
                                <label for="filter-pcr-dm">Не важно</label>
                            </div>
                        </div>
                    </div>
                    <div class="samples__filter-virus-g">
                        <input type="checkbox" id="virus-a">
                        <label for="virus-a">A-положительный</label><br />
                        <input type="checkbox" id="virus-b">
                        <label for="virus-b">B-положительный</label>
                    </div>
                </form>
                <button class="btn samples__filter-btn-apply">Применить фильтры</button>
            </div>
        </transition>
        <table class="samples__table">
            <thead>
                <tr>
                    <th>№ образца</th>
                    <th>Проект</th>
                    <th>Источник</th>
                    <th>Сезон</th>
                    <th>Дата добавления</th>
                    <th>Экстракции</th>
                    <th>ПЦР</th>
                    <th>Подробнее</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Text</td>
                    <td>Text</td>
                    <td>Text</td>
                    <td>2017-2018</td>
                    <td>14.04.2017</td>
                    <td>0</td>
                    <td>1</td>
                    <td>
                        <a href="#"><button class="btn samples__btn-more">Подробнее</button></a>
                    </td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td>Text</td>
                    <td>Text</td>
                    <td>2017-2018</td>
                    <td>14.04.2017</td>
                    <td>0</td>
                    <td>1</td>
                    <td>
                        <a href="#"><button class="btn samples__btn-more">Подробнее</button></a>
                    </td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td>Text</td>
                    <td>Text</td>
                    <td>2017-2018</td>
                    <td>14.04.2017</td>
                    <td>0</td>
                    <td>1</td>
                    <td>
                        <a href="#"><button class="btn samples__btn-more">Подробнее</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<div th:include="footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>
