<div th:include="header" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    <div class="content sample">
        <div class="info">
            <div class="info__left">
                <div class="info__elem">
                    <span class="info__elem-name">Дата создания записи</span>:
                    <span class="info__elem-val">14.04.1997</span>
                </div>
                <div class="info__elem">
                    <span class="info__elem-name">Кто добавил запись</span>:
                    <span class="info__elem-val"></span>
                </div>
                <div class="info__elem">
                    <span class="info__elem-name">Номер образца</span>:
                    <span class="info__elem-val">123456789</span>
                </div>
            </div>
            <div class="info__right">
                <div class="info__elem">
                    <span class="info__elem-name">Дата создания записи</span>:
                    <span class="info__elem-val">14.04.1997</span>
                </div>
                <div class="info__elem">
                    <span class="info__elem-name">Кто добавил запись</span>:
                    <span class="info__elem-val"></span>
                </div>
                <div class="info__elem">
                    <span class="info__elem-name">Номер образца</span>:
                    <span class="info__elem-val">123456789</span>
                </div>
            </div>
        </div>
    </div>
<div th:include="footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>