<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация об образцах</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/balloon.min.css">
    <link rel="stylesheet" href="css/datepicker.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <input type="checkbox" id="side-menu-toggle" class="side-menu-toggle">
    <label for="side-menu-toggle" class="side-menu-icon">
        <i class="fa fa-bars"></i>
    </label>
    <aside class="side-menu">
        <div class="logo logo-menu"></div>
        <div class="side-menu__season">
            Текущий сезон: <span>2017-2018</span>
        </div>
        <ul class="side-menu__pages-list">
            <li onclick="location.href='main.html'">
                <span class="side-menu__icon-container">
                    <i class="fas fa-newspaper"></i>
                </span>
                Новости
            </li>
            <li onclick="location.href='add-sample.html'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-plus"></i>
                </span>
                Регистрация образца
            </li>
            <li onclick="location.href='add-extraction.html'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-flask"></i>
                </span>
                Экстракция
            </li>
            <li onclick="location.href='add-pcr.html'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-spinner"></i>
                </span>
                ПЦР
            </li>
            <li class="active" onclick="location.href='samples.html'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-info"></i>
                </span>
                Информация об образцах
            </li>
            <li onclick="location.href='notindex.html'">
                <span class="side-menu__icon-container">
                    <i class="fa fa-sign-out-alt"></i>
                </span>
                Выход
            </li>
        </ul>
    </aside>
    <header class="header">
        <h3 class="header__title">Информация об образцах</h3>
        <div class="header__panel">
            <div class="header__user-info">
                <img class="header__avatar" src="images/ivanov.jpg">
                <span class="header__name">Иван Иванов</span>
            </div>
            <div class="header__notify">
                <span class="header__notify-wrapper" @click="show = !show">
                    <span class="header__notify-icon">
                        <i class="far fa-bell"></i>
                    </span>
                    <span class="header__notify-quantity" v-if="alertCount > 0">{{ alertCount }}</span>
                </span>
                <transition name="fade">
                    <div class="header__notify-content" v-if="show">
                        <div class="header__alert">
                            <p class="header__alert-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, accusantium.</p>
                            <span class="header__alert-close" @click="alertClose">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                        <div class="header__alert" @click="alertClose">
                            <p class="header__alert-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, accusantium.</p>
                            <span class="header__alert-close">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                        <div class="header__alert" @click="alertClose">
                            <p class="header__alert-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, accusantium.</p>
                            <span class="header__alert-close">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                </transition>
            </div>
            <div class="header__search">
                <form class="header__search-form">
                    <input type="text" class="header__search-input" placeholder="Поиск..." v-on:click="activeSearch = !activeSearch">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </form>
                <div class="header__search-content" v-if="activeSearch">
                    <div class="header__search-elem">
                        <p>Образец №1</p>
                    </div>
                    <div class="header__search-elem">
                        <p>Образец №2</p>
                    </div>
                    <div class="header__search-elem">
                        <p>Образец №3</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content samples">
        <div class="samples__filter">
            <button class="btn" @click="filter = !filter"><i class="fa fa-filter"></i> Фильтр</button>
        </div>
        <transition name="slide">
            <div class="samples__filter-content" v-show="filter">
                <h3 class="samples__filter-title">Быстрые фильтры</h3>
                <form action="">
                    <div class="samples__filter-date date"></div>
                    <div class="samples__filter-extraction">
                        <p class="samples__filter-extraction-title">Экстракция</p>
                        <div class="samples__filter-extraction-radios">
                            <div class="radio-wrapper">
                                <input type="radio" name="extraction" id="filter-extraction-yes" value="0">
                                <label for="filter-extraction-yes">Проведена</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="extraction" id="filter-extraction-no" value="1">
                                <label for="filter-extraction-no">Не проведена</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="extraction" id="filter-extraction-dm" value="2">
                                <label for="filter-extraction-dm">Не важно</label>
                            </div>
                        </div>
                    </div>
                    <div class="samples__filter-pcr">
                        <p class="samples__filter-pcr-title">ПЦР</p>
                        <div class="samples__filter-extraction-radios">
                            <div class="radio-wrapper">
                                <input type="radio" name="pcr" id="filter-pcr-yes" value="0">
                                <label for="filter-pcr-yes">Проведена</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="pcr" id="filter-pcr-no" value="1">
                                <label for="filter-pcr-no">Не проведена</label>
                            </div>
                            <div class="radio-wrapper">
                                <input type="radio" name="pcr" id="filter-pcr-dm" value="2">
                                <label for="filter-pcr-dm">Не важно</label>
                            </div>
                        </div>
                    </div>
                    <div class="samples__filter-virus-g">
                        <input type="checkbox" id="virus-a">
                        <label for="virus-a">A-положительный</label><br />
                        <input type="checkbox" id="virus-b">
                        <label for="virus-b">B-положительный</label>
                    </div>
                </form>
                <button class="btn samples__filter-btn-apply">Применить фильтры</button>
            </div>
        </transition>
        <table class="samples__table">
            <thead>
                <tr>
                    <th>№ образца</th>
                    <th>Проект</th>
                    <th>Источник</th>
                    <th>Сезон</th>
                    <th>Дата добавления</th>
                    <th>Экстракции</th>
                    <th>ПЦР</th>
                    <th>Подробнее</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Text</td>
                    <td>Text</td>
                    <td>Text</td>
                    <td>2017-2018</td>
                    <td>14.04.2017</td>
                    <td>0</td>
                    <td>1</td>
                    <td>
                        <a href="#"><button class="btn samples__btn-more">Подробнее</button></a>
                    </td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td>Text</td>
                    <td>Text</td>
                    <td>2017-2018</td>
                    <td>14.04.2017</td>
                    <td>0</td>
                    <td>1</td>
                    <td>
                        <a href="#"><button class="btn samples__btn-more">Подробнее</button></a>
                    </td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td>Text</td>
                    <td>Text</td>
                    <td>2017-2018</td>
                    <td>14.04.2017</td>
                    <td>0</td>
                    <td>1</td>
                    <td>
                        <a href="#"><button class="btn samples__btn-more">Подробнее</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="loading" v-if="showPreloader">
        <div class="loading__img"></div>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
    <script src="js/datepicker.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
