<header class="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h3 class="header__title" th:text="${title}"></h3>
    <div class="header__panel">
        <div class="header__user-info">
            <span sec:authentication="name" class="header__name"></span> | <span sec:authentication="principal.authorities"></span>
        </div>
        <div class="header__notify">
                <span class="header__notify-wrapper" @click="show = !show">
                    <span class="header__notify-icon">
                        <i class="far fa-bell"></i>
                    </span>
                    <span class="header__notify-quantity" v-if="alertCount > 0">{{ alertCount }}</span>
                </span>
            <transition name="fade">
                <div class="header__notify-content" v-if="show">
                    <div class="header__alert">
                        <p class="header__alert-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, accusantium.</p>
                        <span class="header__alert-close" @click="alertClose">
                                <i class="fa fa-times"></i>
                            </span>
                    </div>
                    <div class="header__alert" @click="alertClose">
                        <p class="header__alert-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, accusantium.</p>
                        <span class="header__alert-close">
                                <i class="fa fa-times"></i>
                            </span>
                    </div>
                    <div class="header__alert" @click="alertClose">
                        <p class="header__alert-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, accusantium.</p>
                        <span class="header__alert-close">
                                <i class="fa fa-times"></i>
                            </span>
                    </div>
                </div>
            </transition>
        </div>
        <div class="header__search">
            <form class="header__search-form">
                <input type="text" class="header__search-input" placeholder="Поиск..." v-on:click="activeSearch = !activeSearch">
                <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
            </form>
            <div class="header__search-content" v-if="activeSearch">
                <div class="header__search-elem">
                    <p>Образец №1</p>
                </div>
                <div class="header__search-elem">
                    <p>Образец №2</p>
                </div>
                <div class="header__search-elem">
                    <p>Образец №3</p>
                </div>
            </div>
        </div>
    </div>
</header>